:root {
    --mainfont: "Playfair", serif;
    --fontcolor: #8f5bbd;
}

body {
    background-color: #f8fbfd;
}

.logo {
    width: 100px;
}

nav {
    height: 100px;
    background-color: transparent;
    font-family: var(--mainfont);
    box-shadow: none;
    -webkit-box-shadow: none;
}

.material-icons {
    color: var(--fontcolor);
}

.nav-wrapper ul li a {
    color: var(--fontcolor);
    font-size: 20px;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-weight: 900;
    font-family: var(--mainfont);
    color: var(--fontcolor);
    font-size: 50px;
}

h2 {
    font-size: 16px;
    font-weight: 300;
    margin-top: unset;
    padding-left: 50px;
    padding-right: 50px;
}

header {
    background: url(../images/mainbackground.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-photo-container {
    display: flex;
    justify-content: center;
}

.header-photo {
    width: 100%;
}

.contact-button {
    position: relative;
    margin-top: -100px;
    width: 200px;
    height: 80px;
    background-color: var(--fontcolor);
    box-shadow: 0px 0px 5px;
}

.contact-button:hover {
    cursor: pointer;
    background-color: pink;
    box-shadow: 0px 0px 10px;
}

h3 {
    position: relative;
    bottom: 40px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 800;
}

.skills-section {
    margin-top: 80px;
}

.centered-card {
    text-align: center;
}

.card-content p {
    font-size: 12px;
}

.card-title {
    font-size: 22px !important;
}

.skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px;
    height: 355px;
}

.skill-icon {
    width: 110px;
    margin-top: 50px;
}

.videos {
    background-color: white;
    margin-bottom: 0px;
}

.thumbnail {
    width: 100%;
}

.video-text {
    width: 100%;
}

.video-title {
    font-size: 16px !important;
    font-weight: 800 !important;
}

.youtube-icon {
    width: 50px;
}

.off-white {
    background-color: #f8fbfd;
}

h4 {
    margin-left: 20px;
    font-weight: 700;
    padding-top: 20px;
}

.quote {
    height: 400px;
    background: linear-gradient(90deg, #ffe5f1, #f6dada);
}

h5 {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5em;
    margin: 20px;
}

h6 {
    text-align: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.quote-image {
    width: 100%;
    max-width: 200px;
}

@media only screen and (min-width: 601px) {
    .contact-button {
        margin-top: -120px;
        top: 50px;
        width: 300px;
        height: 100px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        bottom: 50px;
    }

    .skills-card {
        margin: 10px;
        height: 350px;
    }
}

@media only screen and (min-width: 993px) {
    .logo {
        margin-left: 100px;
    }

    .header-title {
        margin-top: 60px;
    }

    .contact-button {
        width: 500px;
    }

    h2 {
        padding-left: 150px;
        padding-right: 150px;
        font-size: 20px;
    }
}